.services {
  &__container {
    padding: 40px 30px;
    &_text {
      padding: 0 30px 100px;
    }
  }
  &__item {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__pic {
    margin-bottom: 10px;
    height: 200px;
    &_banner {
      width: 100%;
      height: auto;
    }
  }
  &__sticker {
    font-weight: 800;
    font-size: 11.7849px;
    line-height: 128.6%;
    letter-spacing: 0.04em;
    color: #E23434;
    text-transform: uppercase;
  }
  &__title {
    font-weight: 800;
    font-size: 20px;
    line-height: 128.6%;
    letter-spacing: 0.04em;
    color: #e3e3e3;
    margin-top: 5px;
    position: relative;
    &::before {
      content: url(../../../img/Subtract.svg);
      position: absolute;
      z-index: -1;
      opacity: 0.1;
      top: -30px;
      left: -25px;
    }
    &_span {
      color: #43bcff;
    }
  }
  &__description {
    margin-top: 20px;
    font-weight: 400;
    font-size: 15px;
    line-height: 128.6%;
    letter-spacing: 0.04em;
    color: #bebebe;
  }
}

@media screen and (min-width: 768px) {
  .services {
    &__container {
      padding: 0 40px;
    }
    &__box {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 0px 40px;
    }
  }
}

@media screen and (min-width: 992px) {

  .services {
    &__container {
      background-color: #fff;
      padding: 50px 120px;
    }
    &__box {
      display: flex;
      flex-direction: column;
      padding: 0 100px;
    }
    &__item {
      flex-direction: row;
      justify-content: space-between;
      &:nth-child(2n+1) {
        flex-direction: row-reverse;
      }
    }
    &__contents {
      width: 300px;
    }
    &__pic {
      width: 50%;
      height: auto;
    }
    &__bannerContainer {
      display: none;
    }
    &__sticker {
      position: sticky;
      z-index: 3;
    }
    &__title {
      color: #857885;
      z-index: 2;
      &::before {
        z-index: -2;
        opacity: 1;
      }
      &_span {
        color: #5C0E62;
      }
    }
    &__description {
      color: #857885;
    }
  }
}