button {
  background-color: transparent;
  border: 0;
  padding: 0;
}

.header {
  &__background {
    background-image: url(../../img/backgroundMobile.png);
    background-repeat: no-repeat;
    background-size: 100% 950px;
  }
  &__white {
    display: none;
  }
  &__container {
    padding: 30px;
    position: relative;
  }
  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  &__burger {
    position: relative;
    z-index: 3;
    cursor: pointer;
    &_fixed {
      position: fixed;
      right: 30px;
      top: 63px;
    }
  }
  &__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    gap: 20px;
    left: 0px;
    top: 0px;
    background-color: #210933;
    padding: 100px 110px;
    width: 100%;
    height: 100vh;
    z-index: 2;
    transition: 500ms;
    &_items {
      position: absolute;
      left: -300px;
    }
  }
  &__offer {
    display: none;
  }
  &__links {
    color: #FFFFFF;
    font-size: 17px;
    font-weight: 800;
    cursor: pointer;
    transition: 300ms;
    &:hover {
      color: #FFBC51;
    }
    &_active {
      color: #FFBC51;
    }
  }
  &__description__box {
    margin-top: 55px;
  }
  &__title {
    margin-top: 80px;
    font-style: normal;
    font-weight: 800;
    font-size: 34px;
    line-height: 40px;
    color: #FFFFFF;
  }
  &__description {
    margin: 10px 0 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    color: #FFFFFF;
    opacity: 0.8;
  }
  &__titleImage {
    display: none;
  }
  &__tel {
    margin-top: 20px;
    text-decoration: none;
    padding: 12px 20px;
    color: #FFFFFF;
    background: #798AC9;
    border: 0.81px solid rgba(171, 163, 163, 0.2);
    border-radius: 3.24px;
    transition: 200ms;
    &:hover {
      background-color: #FFFFFF;
      color: #798AC9;
    }
  }
  &__slider {
    margin-top: 70px;
  }
  &__slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__company__box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
  }
  &__company {
    width: 30px;
    height: 30px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    &_vespa {
      background-image: url(../../img/companies/vespaLogo.png);
    }
    &_honda {
      background-image: url(../../img/companies/hondaLogo.png);
    }
    &_yamaha {
      background-image: url(../../img/companies/yamahaLogo.png);
    }
    &_bmw {
      background-image: url(../../img/companies/bmwLogo.png);
    }
    &_harley {
      background-image: url(../../img/companies/harleyLogo.png);
    }
    &_indian {
      background-image: url(../../img/companies/indianLogo.png);
    }
    &_brp {
      background-image: url(../../img/companies/brpLogo.png);
    }
  }
  &__offers {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header {
    &__container {
      padding: 40px;
    }
    &__menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
    }
    &__burger {
      display: none;
    }
    &__nav {
      &_items {
        position: static;
      }
    }
    &__links {
      margin-left: 30px;
    }
    &__company {
      width: 40px;
      height: 40px;
    }
  }
}

@media screen and (min-width: 992px) {
  body {
    background-color: #F7F3FA;
  }
  .header {
    &__background {
      background-image: url(../../img/backgroundLaptop.png);
      background-size: 100% 550px;
      position: relative;
    }
    &__white {
      display: block;
      background-image: url(../../img/Vector3.png);
      background-repeat: no-repeat;
      background-size: cover;
      width: 110%;
      height: 300px;
      position: absolute;
      z-index: -1;
      bottom: 0px;
    }
    &__container {
      padding: 50px 120px;
    }
    &__description__box {
      width: 400px;
      margin-top: 150px;
      &_margin {
        width: 400px;
        margin-top: 60px;
      }
    }
    &__title {
      margin: 0;
    }
    &__titleImage {
      display: block;
      position: absolute;
      right: 80px;
      top: 200px;
    }
    &__fixed {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      padding: 10px 120px;
      z-index: 10;
      background-image: linear-gradient(121deg, #5C0E62 17.75%, #00B5D0 81.75%);
    }
    &__company {
      width: 60px;
      height: 60px;
      opacity: 0.9;
      margin-top: 30px;
      &_vespa {
        background-image: url(../../img/companies/black/vespaLogo.png);
      }
      &_honda {
        background-image: url(../../img/companies/black/hondaLogo.png);
      }
      &_yamaha {
        background-image: url(../../img/companies/black/yamahaLogo.png);
      }
      &_bmw {
        background-image: url(../../img/companies/black/bmwLogo.png);
      }
      &_harley {
        background-image: url(../../img/companies/black/harleyLogo.png);
      }
      &_indian {
        background-image: url(../../img/companies/black/indianLogo.png);
      }
      &_brp {
        background-image: url(../../img/companies/black/brpLogo.png);
      }
    }
    &__links {
      padding: 10px 15px;
      &:hover {
        color: #FFF;
        background-color: #FFBC51;
        border-radius: 16px;
      }
    }
    &__offers {
      display: grid;
      grid-template-columns: min-content min-content;
      gap: 25px;
      margin-top: 200px;
      &__strip {
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 4px 0 0 4px;
        width: 5px;
        height: 100%;
        background: linear-gradient(150.72deg, #00B5D0 3.87%, #5C0E62 110.68%);
      }
      &__item {
        display: flex;
        flex-direction: column;
        position: relative;
        background-color: #fff;
        width: 280px;
        padding: 20px 40px;
        box-shadow: 7px 10px 50px #E8E2F0;
        border-radius: 4px;
        transition: 400ms;
        &:hover {
          box-shadow: 7px 10px 50px #aba1b9;

        }
      }
      &__title {
        margin-bottom: 5px;
      }
      &__logo_bonus {
        background-image: url(../../img/offers/bonusSystem.svg);
        background-repeat: no-repeat;
        width: 30px;
        height: 30px;
        margin-bottom: 5px;
      }
      &__logo_delivery {
        background-image: url(../../img/iconsForHeaderBlock/deliveryIcon.svg);
        background-repeat: no-repeat;
        background-size: 25px 25px;
        width: 30px;
        height: 30px;
        margin-bottom: 5px;
      }
      &__logo_evacuation {
        background-image: url(../../img/iconsForHeaderBlock/evacuationIcon.svg);
        background-repeat: no-repeat;
        background-size: 25px 25px;
        width: 30px;
        height: 30px;
        margin-bottom: 5px;
      }
      &__logo_washing {
        background-image: url(../../img/iconsForHeaderBlock/washingIcon.svg);
        background-repeat: no-repeat;
        background-size: 25px 25px;
        width: 30px;
        height: 30px;
        margin-bottom: 5px;
      }
    }
    &__offer {
      display: block;
      width: 400px;
      margin-bottom: 60px;
      &__sticker {
        font-weight: 800;
        font-size: 11.7849px;
        line-height: 128.6%;
        letter-spacing: 0.04em;
        color: #E23434;
        text-transform: uppercase;
      }
      &__title {
        font-weight: 800;
        font-size: 20px;
        line-height: 128.6%;
        letter-spacing: 0.04em;
        color: #5C0E62;
        margin: 10px 0;
        position: relative;
        &::before {
          content: url(../../img/Subtractlite.svg);
          position: absolute;
          z-index: -1;
          opacity: 1;
          top: -30px;
          left: -25px;
        }
      }
      &__description {
        font-weight: 400;
        font-size: 15px;
        line-height: 128.6%;
        letter-spacing: 0.04em;
        color: #857885;
      }
    }
    &__titleContainer {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
  }
}