button {
  background-color: transparent;
  border: 0;
  padding: 0;
}

.header {
  &__background {
    background-image: url(../../img/backgroundMobile.png);
    background-repeat: no-repeat;
    background-size: 100% 800px;
  }
  &__container {
    padding: 30px;
    position: relative;
  }
  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  &__burger {
    position: relative;
    z-index: 3;
    cursor: pointer;
    &_fixed {
      position: fixed;
      right: 30px;
      top: 35px;
    }
  }
  &__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    gap: 20px;
    left: 0px;
    top: 0px;
    background-color: #210933;
    padding: 100px 110px;
    width: 100%;
    height: 100vh;
    z-index: 2;
    transition: 500ms;
    &_items {
      position: absolute;
      left: -300px;
    }
  }
  &__links {
    color: #FFFFFF;
    font-size: 17px;
    font-weight: 800;
    cursor: pointer;
    transition: 300ms;
    &:hover {
      color: #FFBC51;;
    }
  }
  &__description__box {
    margin-top: 55px;
  }
  &__title {
    font-style: normal;
    font-weight: 800;
    font-size: 34px;
    line-height: 40px;
    color: #FFFFFF;
  }
  &__description {
    margin: 10px 0 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    color: #FFFFFF;
    opacity: 0.8;
  }
  &__titleImage {
    display: none;
  }
  &__tel {
    margin-top: 20px;
    text-decoration: none;
    padding: 12px 20px;
    color: #FFFFFF;
    background: #798AC9;
    border: 0.81px solid rgba(171, 163, 163, 0.2);
    border-radius: 3.24px;
    transition: 200ms;
    &:hover {
      background-color: #FFFFFF;
      color: #798AC9;
    }
  }
  &__slider {
    margin-top: 70px;
  }
  &__slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__company__box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
  }
  &__company {
    width: 30px;
    height: 30px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    &_vespa {
      background-image: url(../../img/companies/vespaLogo.png);
    }
    &_honda {
      background-image: url(../../img/companies/hondaLogo.png);
    }
    &_yamaha {
      background-image: url(../../img/companies/yamahaLogo.png);
    }
    &_bmw {
      background-image: url(../../img/companies/bmwLogo.png);
    }
    &_harley {
      background-image: url(../../img/companies/harleyLogo.png);
    }
    &_indian {
      background-image: url(../../img/companies/indianLogo.png);
    }
    &_brp {
      background-image: url(../../img/companies/brpLogo.png);
    }
  }
}

@media screen and (min-width: 768px) {
  .header {
    &__container {
      padding: 40px;
    }
    &__menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
    }
    &__burger {
      display: none;
    }
    &__nav {
      &_items {
        position: static;
      }
    }
    &__links {
      margin-left: 30px;
    }
    &__company {
      width: 40px;
      height: 40px;
    }
  }
}

@media screen and (min-width: 992px) {
  body {
    background-color: #F7F3FA;
  }
  .header {
    &__background {
      background-image: url(../../img/backgroundLaptop.png);
      background-size: 100% 550px;
      height: 600px;
      position: relative;
    }
    &__container {
      padding: 50px 120px;
    }
    &__description__box {
      width: 400px;
      margin-top: 150px;
    }
    &__titleImage {
      display: block;
      position: absolute;
      right: 60px;
      top: 300px;
    }
    &__company {
      display: none;
    }
    &__links {
      padding: 10px 15px;
      &:hover {
        color: #FFF;
        background-color: #FFBC51;
        border-radius: 16px;
      }
    }
  }
}