.ourTeam {
  padding: 60px 0;
  background-image: linear-gradient(121deg, #5C0E62 17.75%, #00B5D0 81.75%);
  background-size: 1500px 996px;
  background-position: center;
  &__title{
    color: rgba(255, 255, 255, 1);
    text-align: center;
    font-weight: 800;
    font-size: 20px;
    line-height: 128.6%;
    letter-spacing: 0.04em;
    margin-bottom: 70px;
    &_span {
      color: rgba(89, 21, 103, 1);
    }
  }
  &__box {
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto 0;
  }
  &__image {
    background-image: url(../../img/team/profilLogo.jpeg);
    width: 130px;
    height: 130px;
    background-size: cover;
    border-radius: 50%;
    border: 3px solid #fff;
  }
  &__description {
    margin-top: 30px;
    font-weight: 800;
    font-size: 14px;
    line-height: 128.6%;
    letter-spacing: 0.04em;
    color: #FFFFFF;
  }
  &__workerName {
    font-weight: 800;
    font-size: 17px;
    line-height: 128.6%;
    letter-spacing: 0.075em;
    text-transform: uppercase;
    color: #FFBC51;
    margin-top: 20px;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 992px) {
  .ourTeam {
    position: relative;
    padding: 60px 80px;
    &__title {
      &::after {
        content: url(../../img/Vector5.png);
        background-repeat: no-repeat;
        position: absolute;
        left: 0;
        bottom: 200px;
      }
      &::before {
        content: url(../../img/Vector6.png);
        background-repeat: no-repeat;
        position: absolute;
        right: 0;
        bottom: 350px;
      }
    }
  }
}